* {
  font-family: 'Bitter', serif ;
  margin: 0;
  padding: 0;
}

body {
  position: absolute; height: 100%; width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(19, 30, 55);
  /* background-image: url('./images/city.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
}

.rootDiv {
  position: absolute; height: 100%; width: 100%;
  color: rgb(0, 16, 31);

}
.about{
  display: flex;
  position: relative; top: 0%; height: 100%; width: 100%;
  justify-content: center;
  align-content: center;
  /* margin-left: 20px;
  padding-right: 20px; */

}

.contactstuff {
  position: relative; top: 20%; left: 0; height: 100%; width: 100%;
}

#text {
  display: flex;
  flex-direction: column;
  position: relative; top: -10%; height: auto; width: 40%;
  padding: 5%;
  width: 850px;
  text-align: justify;
  align-self: center;
  color: rgb(230, 230, 230);
  background-color: #4286d3;
  background-image: linear-gradient(315deg,#485977 0%, #6782b4 74%);
  border-radius: .5em;
  opacity: 0.9;

}
#icons {
  display:flex;
  flex-direction:row;
  justify-content:center
}

.title {
  margin-top: 3em;
}

#text h1 {
  text-align: center;
}
#text h3 {
  text-align: center;
  margin-top: 0;
}
a {
  color: white;
}

.resume {
  display: flex;
  position: relative; top: 0%; height: 100%; width: 100%;
  justify-content: center;
  align-content: center;
}

.projects {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  position: relative; top: 5em; left: 0; height: 100%; width: 100%;
  justify-content: space-around;
}

.navigation {
  display: flex;
  position: relative; top: 1em; left: 0; height: 20%; width: 100%;
  justify-content: space-around;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 25px;
}

#backend, #frontend, #general{
  display: flex;
  flex-direction: column;
  margin: 1em;
  align-items: center;
  position: relative;
  width: 18em;
  height: 26em;
  background-color: #626d7e;
  background-image: linear-gradient(315deg,  #626d7e 10%, #f5f7fa 80%) ;
  border-radius: .5em;
  box-shadow: 5px;
  opacity: 0.7;
  transition: .5s ease-in-out;
}

#backend:hover, #frontend:hover ,#general:hover  {
  transform: scale(1.2);
  transition: .5s ease-in-out;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}

.proj-icon, .contact-img{
  margin: 20px;
  margin-top: 3em;
  border-radius: 50%;
}


.proj {
  position: relative;
  width: 250px;
  height: 405px;
  margin-top: 70px;

}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  transition: all .8s ease;

}
.card:hover {
  transform: rotateY(180deg) scale(1.2);
  overflow: -moz-hidden-unscrollable;
  opacity: 1;
}
.front {
  position: absolute;
  margin-top: 2em;
  width: 100%;
  height:100%;
  text-align: center;
  backface-visibility: hidden;
  color: rgb(212, 225, 226);
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
  border-radius: .5em;
  opacity: 0.8;
  transform: rotateY(0deg);
}
.back {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  color: rgb(212, 225, 226);
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
  border-radius: .5em;
  overflow: scroll;
  -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    transform:rotateY(180deg);
}

.front, .back {
  display: flex 1;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;

}
.front, .back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: 0.6s;
          transition: 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  }

#window {
  opacity: 1;
  transition: opacity 500ms ease-in;
}


.rootLinks {
  color: rgb(0, 50, 97);
  text-decoration: none;
}
.rootLinks:hover {
  color: rgb(230, 231, 237);
}


button {
  display: column;
  text-align: center;
  border-radius: 5%;
  width: 100px;
  height: 30px;
  color: rgb(174, 176, 179);
  border: 0px, black;
  align-self: center;
}

#icons img {
  transition:  1s ease;
}

#icons img:hover {
  transform: scale(1.5);
  transition: 1s ease;
}

.i {
  display: flex;
  width: 50px;
  height: 50px;
  padding: 10px;
}
.board {
  width: 800px;
  height: 500px;
  margin: auto;
  background: black;
}
iframe {
  height: 90%;
  width: 72%;
}

.contribution {
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
}
.listBullet {
  text-align: justify;
  padding-left: 28px;
  padding-right: 28px;
  left: -5;
}
li span {
  position: relative;
  margin: -10px;
}

#input{
  padding: 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
#submitButton {
  color: greenyellow;
}

#resultBox {
  margin-top:50px;;
  color: rgb(120, 120, 220);
}



/* @media only screen and (max-device-width: 425px){
  iframe {
  transform: scale(0.9);
  max-width: 90%;
  min-width: 80%;
  zoom: .8;
  }
  #backend, #frontend, #general {
    transform: scale(1);
    flex-direction: row;
  }
  .skills, .projects {
    background-image: url('./images/city.jpg');
    min-height: 300%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .contact{
    background-image: url('./images/city.jpg');
    max-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .about {
    background-image: url('./images/city.jpg');
    max-height: 100%;
    background-size: cover;
  }
  #text {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
  }
} */



@media (orientation: portrait){
  * {
    font-family: 'Bitter', serif ;
    margin: 0;
    padding: 0;
  }
  /* .skills {
    min-width: 90%;
    max-width: 98%;
    min-height: 300%;
    }
  .projects {
    min-width: 90%;
    max-width: 98%;
    min-height: 330%;
    } */
  /* .card, .back ,.front,.proj,  #backend, #frontend, #general{
    transform: scale(.95);
  } */
  /* .navigation {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  } */
  /* .rootLinks {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
  } */
  /* .about {
    min-width: 90%;
    max-width: 98%;
  } */
  /* .contact{
    max-height: 100%;
    min-width: 90%;
    max-width: 98%;
    margin-left: 0%;
  } */
  .resume {
    zoom: 0.4;
  }
  iframe {
    transform: scale(0.9);
    zoom: 1.2;
    }
}
