#bodyHtml {
  text-align: center;

}

.rootDiv {
  position: absolute; top: 0; left: 0; height: 100%; width: 100%;
  justify-items: auto;
  /* background-color: rgb(208, 174, 200); */
  /* background: url("https://images.unsplash.com/photo-1516796181074-bf453fbfa3e6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"); */


}

.about {
  position: relative; top: 0; left: 0; height: 100%; width: 100%;
  justify-content: space-around;
  align-content: space-around;
  text-align: center;
  background-color: rgb(230, 230, 150);
  /* background: url("https://images.unsplash.com/photo-1489041763408-10ac51c35969?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80") */
}
.projects {
  display: flex;
  position: relative; top: 0; left: 0; height: 100%; width: 100%;
  justify-content: center;
  align-content: center;
  background-color: rgb(202, 240, 146);
  /* background: url("https://images.unsplash.com/photo-1506808863525-303d40b69293?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2852&q=80"); */
}
#grace {
  width:"300";
  height:"300";
  background-color: rgb(155, 32, 32);
}
#gelato {
  width:"300";
  height:"300";
  background-color: rgb(230, 66, 169);
}
#cupcake {
  width:"300";
  height:"300";
  background-color: rgb(245, 50, 50);
}
.projectGrace {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  color: rgb(252, 8, 134);
  /* position: absolute;
  top: 25%;
  left: 23%; */
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.projectGelato {
  color: rgb(230, 119, 136);
  /* position: absolute;
  top: 46%;
  left: 50%; */
  transform: translate(-80%, -50%);
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.projectCupcake {
  color: pink;
  /* position: absolute;
  bottom: 38%;
  right: 25%; */
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.contact {
  position: relative; top: 0; left: 0; height: 100%; width: 100%;
  background-color: rgb(121, 187, 209);
  justify-content: center;
  align-self: center;

}
.skills {
  position: relative; top: 0; left: 0; height: 100%; width: 100%;
  background-color: rgb(155, 154, 213);
  justify-content: space-around;
  align-content: space-around;
}
.navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
  padding-bottom: 20px;
  padding-top: 20px;
}
.home {
  position: relative; top: 0; left: 0; height: 100%; width: 100%;
  background-color: rgb(240, 196, 239);
  justify-content: center;
  align-content: space-around;
}
.linkhome:hover{
  transition: all .5s ease;
  transform: scale(1.05);
  cursor: pointer;
  background-color:white;
}
/* .button {
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 10px;
  background-color: palevioletred;
  border-radius: 20%;
  width: 40px;
  height: 18px;
} */
/* .linkhome {
  display: flex 1;
  padding: 10px;
  justify-content: baseline;
  background-color: palevioletred;
  border-radius: 20%;
  width: 40px;
  height: 18px;
  color: pink;
  text-decoration: none;
  color: pink;
  text-decoration: none;
} */

.rootLinks {
  color:palevioletred;
  text-decoration: none;
}

#baloons {
  align-self: center;
  border-radius: 5%;
}


